@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Henny+Penny&display=swap');

:root {
    --cor0: #FFFFFF;
    --cor1: #c16a6195;
    --cor2: #F09C6A;
    --cor3: #ef6e5a9f;
    --cor4: #EA444F;
    --cor5: #EBB588;
    --cor6: #F0C6BF;
    --cor7: #000000;
    --cor8: #BB6D7B;
    --cor9: #b86054bb;
    --cor10: #BC757142;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: "Comfortaa", sans-serif;
}

.explore {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: #64646f33 10px 0px 29px 0px;
    min-height: 100vh;
    color: var(--cor0);
    background-color: var(--cor1);
    cursor: default;
    z-index: 1;
}

.explore__titulo {
    font-size: 20px;
    margin: 20px 0px 0px 13px;
}

.explore__menuNav {
    font-size: 15px;
    margin: 25px 0px 0px 17px;
}

.menuNav__list--item, .menuNav__list--item a {
    list-style: none;
    width: 200px;
    margin-top: 25px;
    padding: 10px 0px 10px 5px;
    color: var(--cor0);
    cursor: pointer;
    transition: 0.15s;
}

.menuNav__list--item a:hover {
    border-radius: 4px;
    transition: 0.3s;
    transform: translateY(-2px);
}

.menuNav__list--item:hover {
    background-color: var(--cor9);
    border-radius: 4px;
    transition: 0.3s;
    transform: translateY(-2px);
}

.explore__rodape {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    height: 50px;
    background-color: var(--cor3);
}

.explore__rodape--fotoUser {
    height: 30px;
    width: 30px;
    border: 2px solid var(--cor7);
    border-radius: 50px;
    padding: 5px;
    margin-left: 10px;
}

.explore__rodape--nameUser {
    font-size: 12px;
    transform: translateY(2px);
    margin-right: 95px;
    color: var(--cor7);
}

.explore__rodape--button {
    border: none;
    font-size: 18px;
    margin-right: 7px;
    background: none;
    transform: translateY(3px);
    cursor: pointer;
}

.principal {
    width: 74%;
}

.principal__cabecalho {
    display: flex;
    height: 100px;
    background-color: var(--cor10);
}

.principal__cabecalho--imagemGuara {
    transform: scale(1.1);
    margin-left: 20px;
}

.principal__cabecalho--nomeProjeto {
    margin-top: 30px;
    font-size: 30px;
    color: var(--cor8);
    font-family: "Henny Penny", system-ui;
}

.principal__superior, .principal__inferior {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 70px;
}

.principal__superior--chatDirecao, .principal__superior--agenda, .principal__inferior--chatTurma, .principal__inferior--chatAmigavel {
    width: 40%;
    height: 200px;
    /* border: 2px solid black; */
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

