.principal {
    width: 100%;
    background-color: var(--corPrincipal1);
}

.principal__cabecalho {
    display: flex;
    justify-content: space-between;
    height: 6.2rem;
    background-color: var(--corPrincipal2);
}

.principal__cabecalho--imagemGuara {
    transform: scale(1.1);
    margin-left: 1.2rem;
}

.principal__cabecalho--nomeProjeto {
    margin-top: 1.9rem;
    font-size: 1.9rem;
    color: var(--corTituloPrincipal);
    transform: translateX(-1rem);
    font-family: "Henny Penny", Helvetica, system-ui;
}

.principal__cabecalho--logoLindaura {
    transform: scale(0.5);
}

.principal__superior, .principal__inferior {
    display: flex;
    justify-content: center;
    gap: 3.9rem;
}

.principal__superior {
    margin-top: 3.4rem;
}

.principal__inferior {
    margin-top: 3rem;
}

.principal__superior--chatDirecao, .principal__superior--agenda, .principal__inferior--chatTurma, .principal__inferior--chatAmigavel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.2rem;
    padding-top: 5.3rem;
    width: 37%;
    height: 12rem;
    border-radius: 1.9rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3rem 0.9rem;
    font-size: 0.9rem;
    transition: transform 0.3s ease, background-image 3s ease;
    color: var(--corPrincipal1);
}

.principal__superior--chatDirecao {
    background-color: var(--corExplore1);
    color: var(--corPrincipal1);
}

.principal__inferior--chatTurma, .principal__superior--agenda {
    background-color: var(--corExplore2);
}

.principal__inferior--chatAmigavel {
    background-image: linear-gradient(65deg, var(--corPrincipal3) 68%, var(--corPrincipal4));
    color: var(--corPrincipal4);
}

.principal__superior--chatDirecao:hover, .principal__superior--agenda:hover, .principal__inferior--chatTurma:hover, .principal__inferior--chatAmigavel:hover {
    transform: scale(1.05);
    color: var(--corPadrao);
}

.principal__inferior--chatAmigavel:hover {
    background-image: linear-gradient(65deg, var(--corPrincipal3) 55%, var(--corPrincipal4));
    color: var(--corPrincipal5);
}

.superior__chatDirecao--titulo, .superior__agenda--titulo, .inferior__chatTurma--titulo, .inferior__chatAmigavel--titulo {
    flex: 0 0 100%;
    font-size: 1.2rem;

} 

.superior__chatDirecao--paragrafo, .superior__agenda--paragrafo, .inferior__chatTurma--paragrafo, .inferior__chatAmigavel--paragrafo {
    flex: 0 0 100%;
    font-size: 0.7rem;
    font-weight: bold;
}
