@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Henny+Penny&display=swap');

:root {
    --corPadrao: #FFFFFF;
    --corPadrao2: #000000;
    --corExplore1: #c16a6195;
    --corExplore2: #b86054bb;    
    --corExplore3: #EB8276;
    --corPrincipal1: #f4dedb;
    --corPrincipal2: #BC757142;
    --corTituloPrincipal: #BB6D7B;
    --corPrincipal4: #0d17a78c;
    --corPrincipal3: #18a6de91;
    --corPrincipal5: #0d17a7b2;
    --corchat1: #c16b61ea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: "Comfortaa", Helvetica, sans-serif;
}

.explore {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: #64646f33 0.6rem 0rem 1.8rem 0rem;
    min-height: 100vh;
    color: var(--corPadrao);
    background-color: var(--corExplore1);
    cursor: default;
    z-index: 1;
}

.explore__titulo {
    font-size: 1.2rem;
    margin: 1.2rem 0rem 0rem 0.8rem;
}

.explore__menuNav {
    font-size: 0.9rem;
    margin: 1.5rem 0rem 0rem 1rem;
}

.menuNav__list--item, .menuNav__list--item a { 
    width: 12rem;
    margin-top: 1.5rem;
    padding: 0.6rem 0rem 0.6rem 0.3rem;
    color: var(--corPadrao);
    cursor: pointer;
    transition: 0.15s;
}

.menuNav__list--item a:hover {
    transition: 0.3s;
    transform: translateY(-0.1rem);
}

.menuNav__list--item:hover {
    background-color: var(--corExplore2);
    border-radius: 0.2rem;
    transition: 0.3s;
    transform: translateY(-2px);
}

.explore__rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    margin-top: auto;
    height: 3.1rem;
    background-color: var(--corExplore3);
}

.explore__rodape--fotoUser {
    height: 1.9rem;
    width: 1.9rem;
    border: 0.1rem solid var(--corPadrao2);
    border-radius: 3.1rem;
    padding: 0.3rem;
    margin-left: 0.6rem;
}

.explore__rodape--nameUser {
    font-size: 0.7rem;
    transform: translateY(0.1rem);
    margin-right: 4.3rem;
    color: var(--corPadrao2);
}

.explore__rodape--button {
    border: none;
    font-size: 1.1rem;
    margin-right: 0.8rem;
    background: none;
    transform: translateY(0.2rem);
    cursor: pointer;
}
