.configuracoes {
    display: none;
    background-color: var(--corExplore1);
    box-shadow: #64646f33 -0.6rem 0rem 1.8rem 0rem;
}

.configuracoes__menuNav--list {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 0.5rem;
    background-color: var(--corExplore3);
    color: var(--corPadrao1);
}

.configuracoes__menuNav--list a {
    color: inherit;
    transition: 0.1s;
}

.configuracoes__menuNav--list a:hover {
    color: var(--corPadrao);
}

.configuracoes__infoUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.configuracoes__infoUser--fotoUser {
    height: 6rem;
    width: 6rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--corPadrao2);
    border-radius: 3.1rem;
}